<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Student</title>
  </head>
  <body>
    <div>
      <br><br>
    <center>
      <h1>Add Data Student</h1>
    <form action="/students" method="post">
      <input type="text" name="first_name" placeholder="Your First Name">
      <input type="text" name="last_name" placeholder="Your Last Name">
      <input type="text" name="email" placeholder="Your Email">
      <button type="submit" name="button">Submit</button>
    </form>
  </center>

    </div>

  </body>
</html>
