<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Subject</title>
  </head>
  <body>
    <div>
      <br><br>
      <center>
        <h1>Add Subject</h1>
      <form action="/subjects" method="post">
        <input type="text" name="subject_name" placeholder="Subject Name">
        <center><button type="submit" name="button">Submit</button></center>
      </form>
    </center>
    </div>

  </body>
</html>
