<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update Student</title>
  </head>
  <body>
    <center><h1>Update Student</h1></center>
    <div>
      <center>
        <form action="/students/update/<%=data.id%>" method="post">
          <input name="first_name" value="<%= data.first_name %>">
          <input name="last_name" value="<%= data.last_name %>">
          <input name="email" value="<%= data.email %>">
          <center><button type="submit">Update Student</button></center>
        </form>
      </center>
    </div>
  </body>
</html>
